@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #ca5353;
    --text-light: #fff;
    --extra-light: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
}

header{
    display: flex;
    min-height: 100vh;
}

.container_left,
.container_right{
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.container_left{
    background-color: #ca5353;
    justify-content: flex-end;
}

.nav_logo{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 600;
    color: beige;
}

.content{
    max-width: 600px;
    padding: 2rem;
    padding-top: 5rem;
    flex: 1;
    color: #fff;
    display: grid;
    gap: 2rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4rem;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 600;
}

.description{
    max-width: 500px;
}

.actions_btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn{
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

.oprec{
    background-color: rgb(255, 255, 255);
}


.cv:hover{
    color: bisque;
}

.nav_links{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.link{
    padding: 0.5rem;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover{
    color: aliceblue;
}

.image {
    max-width: 600px;
    padding: 2rem;
    padding-top: 5rem;
    flex: 1;
    display: grid;
    place-content: center;
    position: relative;
  }
  
  .image img {
    max-width: 550px;
  }
  
  .image__content h4 {  
    background-color: transparent;
    color: #d34343;
    padding: 3rem;
    outline: none;
    border: none;
    border-radius: 9px;
  }
  
  .image__content p {
    font-size: 0.9rem;
    font-weight: 600;
  }
